<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoyo.sensormanager">

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <application>
        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>